.example {
    margin-bottom: 5%;
}

.preview {
    display: grid;
    grid-template-rows: 15vh 15vh;
    grid-template-columns: 1fr 1fr;
    width: 70%;
    margin: auto;
}

.gallery-descrip {
    display: flex;
    align-items: center;
    grid-row: 1
    grid-column: 1;
}

.expander {
    grid-row: 2;
    grid-column: 1;
}

.expander button {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgba(0, 0, 0, .45);
}

.product-img {
    display: flex;
    justify-content: flex-end;
    grid-row: 1 / span 2;
    grid-column: 2;
    width: 100%;
    object-fit: contain;
}

.expander-img {
    width: 70%;
    margin: 2% auto;
}

.hidden-html[aria-hidden="true"] {
    display: none;
}

.hidden-html[aria-hidden="false"] {
    width: 50%;
}

.hidden-css[aria-hidden="true"] {
    display: none;
}

.hidden-css[aria-hidden="false"] {
    height: 80vh;
}